{% extends 'base.html.twig' %}

{% block title %} {{ 'profile.edit.title'|trans }} |
{{ app.user.prenom|capitalize ~' '~app.user.nom|upper }}{% endblock %}

{% block body %}

<div class="main-profile-edit"><br />

    <h1 class="font-weight-bold">{{ 'profile.edit.title'|trans }}</h1><br />

    <a href=" {{ path('profile') }} "><button class="btn btn-secondary">{{ 'retourp'|trans }}</button></a><br /><br />

    <div class="text-center">
        {{ form_start(form_editProfile) }}

        {{ form_row(form_editProfile.nom) }}
        {{ form_row(form_editProfile.prenom) }}
        {{ form_row(form_editProfile.email) }}

        <button class="btn btn-primary">{{ 'save'|trans }}</button>
        {{ form_end(form_editProfile) }}
    </div>
    <br /><br />

</div>
{% endblock %}