{% extends 'base.html.twig' %}

{% block title %} Profile Edit | {{ app.user.prenom|capitalize ~' '~app.user.nom|upper }}{% endblock %}

{% block body %}

<div class="main-profile-edit"><br />

    <h1 class="font-weight-bold">Profile Edit Page</h1><br/>
    
    <a href=" {{ path('profile') }} "><button class="btn btn-secondary">Back to Profile</button></a><br/><br/>

    <div class="text-center">
        {{ form_start(form_editProfile) }}

        {{ form_row(form_editProfile.nom) }}
        {{ form_row(form_editProfile.prenom) }}
        {{ form_row(form_editProfile.email) }}

        <button class="btn btn-primary">Save Changes</button>
        {{ form_end(form_editProfile) }}
    </div>
    <br/><br/><br/><br/>


    {# bouton delete user #}
    <form method="post" action="{{ path('profileDelete', {'id': app.user.id}) }}"
        onsubmit="return confirm('Are you sure you want to delete your account? You can\'t go back');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
        <button class="btn btn-danger">Delete Profile</button>
    </form>

</div>
{% endblock %}