<nav class="mini navbar navbar-expand-lg navbar-light bg-light text-center">
    <ul class="mini-ul navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="{{ path('admin') }}">{{ 'admin.nav.li1'|trans }}</a></li>

        {% if is_granted('ROLE_SUPER_ADMIN') %}     
        <li class="nav-item"><a class="nav-link" href="{{ path('super_admin') }}">{{ 'admin.nav.li2'|trans }}</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('ongoingOrder') }}">{{ 'admin.nav.li3'|trans }}</a></li>
        {% endif %}
    </ul>
</nav>