{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.produit.edit.title'|trans }}{% endblock %}

{% block body %}
<h1>{{ 'admin.produit.edit.title'|trans }}</h1>

{{ include('admin/product/_form.html.twig', {'button_label': 'up'|trans }) }}

<a class="btn btn-secondary" href="{{ path('admin') }}">{{ 'retour'|trans }}</a>

{{ include('admin/product/_delete_form.html.twig') }}


{% endblock %}

{% block javascripts %}

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#product_picture").change(function () {
        readURL(this);
    });
</script>


{% endblock %}

