{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.produit.show.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ product.nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'admin.produit.thead.tr1'|trans }}</th>
                <td><img src="{{ asset('upload/product/'~product.picture)}}" style="height:50px;"/></td>
            </tr>
            <tr>
                <th>{{ 'admin.produit.thead.tr6'|trans }}</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>{{ 'admin.produit.thead.tr3'|trans }}</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>{{ 'admin.produit.thead.tr4'|trans }}</th>
                <td>{{ product.stock }}</td>
            </tr>
            
        </tbody>
    </table>

    {# bouton retour #}
    <a class="btn btn-secondary" href="{{ path('admin') }}">{{ 'retour'|trans }}</a>

    {# bouton edit #}
    <a class="btn btn-primary" href="{{ path('product_edit', {'id': product.id}) }}">{{ 'admin.produit.btne'|trans }}</a>
    {# bouton delete #}
    {{ include('admin/product/_delete_form.html.twig') }}
{% endblock %}
